/* peerchat.css */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  /* Set the background color for the body or root */
body {
    background-color: #f0f0f0;
  }
  
.peerchat {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
justify-content: flex-start;
min-height: 100vh; /* Use min-height instead of height */
padding-left: 1rem;
box-sizing: border-box;
}

.message-list {
flex-grow: 1;
width: 100%;
max-height: 70vh;
overflow-y: auto;
padding: 10px;
border: 1px solid #ccc;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.message {
background-color: #000000;
padding: 10px;
margin: 5px 0;
border-radius: 5px;
}

.message.sent {
    background-color: #007bff; /* Sent message background color */
    color: #fff; /* Text color for sent messages */
    align-self: flex-end; /* Right-align sent messages */
  }
  
  .message.received {
    background-color: #fff; /* Received message background color */
    color: #000; /* Text color for received messages */
    align-self: flex-start; /* Left-align received messages */
  }

input[type="text"] {
width: 80%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin: 10px 0;
}

button[type="submit"] {
padding: 10px 20px;
background-color: #007bff; /* Button background color */
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

button[type="submit"]:hover {
background-color: #0056b3; /* Button background color on hover */
}

/* Room List Styles */
.room-list {
display: flex;
flex-direction: column;
align-items: center;
}

.room {
margin: 10px 0;
}

h1 {
font-size: 24px;
margin-bottom: 10px;
color: black;
}

h2 {
font-size: 20px;
color: grey;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
input[type="text"] {
    width: 100%;
}

button[type="submit"] {
    width: 100%;
}
}
  