* {
    box-sizing: border-box;
  }

  .breathBody {
    margin: 0;
    min-height: 100vh;
    background: rgb(43, 63, 96) url("https://images.unsplash.com/photo-1578360317394-bd5ae803e153?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670") no-repeat center center/cover;
    color: rgb(239, 239, 239);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .liveStreamContainer,
  .relaxationContainer {
    flex: 1; /* Equal width for both containers */
    padding: 20px;
    max-width: 50%; /* Max width to occupy half of the available space */
    box-sizing: border-box;
  }
  
  .liveStreamContainer img {
    width: 100%; /* Make the image fill the container */
    height: auto;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
  }
  
  .container.grow {
    animation: grow 3s linear forwards;
  }
  
  .container.shrink {
    animation: shrink 3s linear forwards;
  }
  
  .circleDiv {
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
  }
  
  .pointerContainer {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
  }
  
  .pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
  }
  
  .gradientCircle {
    background: conic-gradient(
      #55b7a4 0%,
      #4ca493 40%,
      #fff 40%,
      #fff 60%,
      #336d62 60%,
      #2a5b52 100%
    );
    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes grow {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
  
  @keyframes shrink {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
  
  /* Media Queries */
  
  @media screen and (max-width: 768px) {
    .liveStreamContainer,
    .relaxationContainer {
      max-width: 100%; /* Full width on smaller screens */
    }
  }
  